<h2>Forecast for {{city}}</h2>
<hr />
<p>Forecast of the next ones: <a href="#!/forecast/1" title="View today" ng-class="{'selected_day': days === '1'}">1</a> | <a href="#!/forecast/7" ng-class="{'selected_day': days === '7'}" title="View next seven days">7</a></p>
<hr />
<div ng-repeat="w in weatherResult.list">
    <div class="row">
        <div class="col-md-12">
            <weather-report weather-day="w" convert-to-standard="convertToFahrenheit(daytimeTemp)" convert-to-date="convertToDate(dt)" date-format="MMM d, y h:mm:ss a"></weather-report>
        </div>
    </div>
</div>
<a class="btn btn-default pull-right" href="#" title="Back to search">Back to search</a>